doctype html
html
  head
    title Azuqua | Task List Example
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="https://unpkg.com/vue/dist/vue.js")
  body
    block content
    script(src="/javascripts/index.js")
